$ash-grey: #d0dcd2;
$snow: #faf7f7;
$independence: #484171;

$body-background-color: $snow;
$sidebar-color: $ash-grey;
$search-background-color: $snow;
$table-background-color: $snow;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: $independence;
$btn-primary-color: $independence;
$base-button-color: $snow;